* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;

  font-size: 16px;

  background: rgb(238, 174, 202);
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
